.main {
  display: flex;
  position: relative;

  .sidebar {
    width: 5.5rem;
    transition: 0.3s;
    background-color: #272323;
    color: #bbb0b0;
    padding: 1.25rem;

    &.collapsed {
      width: 2rem;
      padding: 1.25rem;
    }

    .sidebar-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.25rem;

      .sidebar-toggle {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0rem;

        .bar {
          display: block;
          width: 1.25rem;
          height: 0.125rem;
          background-color: #c0c0c0;
          margin-bottom: 0.25rem;
        }
      }
    }

    .sidebar-menu {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 3.625rem;
        margin-top: 3rem;
        padding: 0rem 0.188rem;

        p {
          display: none;
        }

        &.visible p {
          display: block;
          margin-top: 0.5rem;
          text-align: center;
          margin-left: -0.5rem;
        }
      }
    }
    .sidebar-menu li button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      font: inherit;
      color: inherit;
      text-align: left;
      outline: none;
    }
  }

  .main-content {
    padding: 1.25rem;

    .main-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 1.25rem;
      padding-left: 2.5rem;

      .sub-card {
        background-color: #f5f5f5;
        border: 0.0625rem solid #ccc;
        border-radius: 1.25rem;
        padding: 1.25rem;
        margin-right: 0.25rem;
        flex: 0 0 18.75rem;
        box-shadow: 1rem 0rem 2rem 0rem #191a1b;
        transition: transform 0.4s, box-shadow 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
          transform: scale(1.05);
          background-color: #0f325b;
          box-shadow: 1rem 0rem 2rem 0rem #3e658b;
          p {
            color: #fff;
          }
          h3 {
            color: #fff;
          }
          .icon {
            color: white;
          }
          .delete-icon {
            opacity: 1;
          }
        }
        .delete-icon {
          position: fixed;
          top: 0.5rem;
          right: 0.5rem;
          color: #ccc;
          cursor: pointer;
          opacity: 0;
          transition: opacity 0.3s;
        }

        .card-info {
          display: flex;
          justify-content: space-between;
          margin-top: 0.5rem;

          .left-info {
            text-align: left;
            flex-basis: 50%;
          }

          .right-info {
            text-align: right;
            flex-basis: 50%;
          }
        }
      }
    }
  }

  .active-dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #00ff00;
    border-radius: 50%;
  }

  .inactive-dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #ff0000;
    border-radius: 50%;
  }
}
