$header-color: cadetblue;
// .main-head {
//     position: fixed;
//     width: 100%;
// }
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem;
    background-color: $header-color;
    .logo {
        height: 5rem;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        margin-left: 2rem;
    }
    .search {
        display: flex;
        align-items: center;
        input {
            padding: 0.5rem;
            font-size: 1.05rem;
            margin-right: 1rem;
            border: none;
            border-radius: 0.25rem;
        }
    }
    .links {
        display: flex;
        .link {
            font-size: 1.25rem;
            margin-left: 2rem;
            text-decoration: none;
            color: rgb(14, 12, 12);
            &:hover {
                border-bottom: 0.15rem solid whitesmoke;
                color: whitesmoke;
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        .nav {
            margin-left: 0;
            margin-top: 2rem;
            width: 100%;
        }
        .search {
            margin-top: 1rem;
            input {
                width: 100%;
            }
        }
        .links {
            flex-direction: column;
            margin-top: 1rem;
            &:hover {
                border-bottom: 0.15rem solid whitesmoke;
            }
            .link {
                margin: 0;
                margin-top: 1rem;
                font-size: 1.2rem;
            }
        }
    }
}